body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f1f2f4;
}

#personal-card {
  position: fixed;
  top: 10%;
  left: 5%;
  background: linear-gradient(
    to top,
    #f4f8ff 0%,
    #f4f8ff 65%,
    #fefefe 65%,
    #fefefe 100%
  );
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  padding: 10px;
  margin: 10px;
  width: 20%;
  height: 70%;
}

#personal-card_name p {
  font-size: 1.5em;
  font-weight: bold;
}

#work-card {
  position: absolute;
  top: 10%;
  right: 5%;
  background: linear-gradient(
    to top,
    #f4f8ff 0%,
    #f4f8ff 75%,
    #fefefe 75%,
    #fefefe 100%
  );
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  padding: 10px;
  margin: 10px;
  width: 60%;
  height: 1000px;
}
