html {
  font-size: 16px; /* 1rem = 16px baseline, adjust globally if needed */
}

body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  background-color: #f0f1f3;

  background-image: url("/layered-waves-haikei.svg"),
    url("/layered-waves-haikei2.svg");
  background-repeat: repeat-y;
  background-size: 40%;
  background-position: left top, right top;

  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: space-between;
  align-items: flex-start;
  gap: 2rem;
}

/* Footer sits at the bottom using Flex Grow + Margin Auto */
footer {
  width: 100%;
  height: 3rem;
  background: linear-gradient(
    to top,
    #fefefeff 0%,
    #fefefeee 1%,
    #fefefeee 1%,
    #fefefe00 15%
  );

  padding-top: 1.25rem;
  padding-bottom: 0;
  margin-top: auto; /* pushes footer to bottom of page if content is short */
  position: relative;
}

/* Hidden text, but ready for future use */
footer p {
  display: none;
  margin: 0;
  position: absolute;
  bottom: 20%;
  left: 50%;
  transform: translate(-50%, 50%);
  font-size: 0.875rem;
}
