#work-card {
  position: relative;
  /* margin: 8.75rem auto 6.25rem auto;  */
  background: whitesmoke;
  border-radius: 1.25rem;
  box-shadow: rgba(0, 0, 0, 0.24) 0rem 0.1875rem 0.5rem;
  width: 60%;
  height: 62rem; /* 1000px = 62.5rem */
  padding: 0.5rem;
  margin-left: auto;
  margin-top: 10%;
  margin-right: 10%;
}

.tabs {
  display: grid;
  position: relative;
  top: -4rem;
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;
  width: 100%;
  margin: 0;
  padding: 0;
  gap: 0.5rem;
}

.tabs button {
  background-color: #fefefe;
  border: none;
  border-radius: 1.25rem;
  cursor: pointer;
  width: 95%;
  padding: 0.625rem 0;
  font-size: 1rem;
  transition: all 0.4s ease;
  box-shadow: rgba(0, 0, 0, 0.24) 0rem 0.1875rem 0.5rem;
}

.tabs button:hover {
  background: #004fcc;
  color: #f1f1f1;
  transform: translateY(-1px);
}

.tabContentContainer {
  position: relative;
  top: -3rem;
  width: 100%;
  height: 100%;
  overflow-y: auto;
  padding: 0.625rem;
}

.tabContent {
  padding-right: 1.5rem;
  font-size: 1rem;
}
