---
import Section from "../primitives/Section.astro";
import PostCard from "../content/PostCard.astro";
import type { PostSummary } from "../../../domain/models/view/PostView";

interface Props {
  posts: PostSummary[];
}

const { posts } = Astro.props;
---

<Section title="Latest Writing" subtitle="Recent blog posts.">
  <ul class="space-y-4 list-none p-0">
    {
      posts.map((post) => (
        <PostCard
          title={post.title}
          slug={post.slug}
          excerpt={post.excerpt}
          tags={post.tags}
          publishedAt={post.publishedAt.toLocaleDateString("en-US", {
            year: "numeric",
            month: "short",
            day: "numeric",
          })}
        />
      ))
    }
  </ul>
</Section>
